<% provide(:title, "About") %>

<h2>Money Keeper</h2>

<p>Just another useless page.</p>
<p>I have nothing to say</p>

<p>If you do please contact me via <a href="https://github.com/Casilio">github</a>.</p>