html {
	padding: 0;
}

/* devise alert */

.alert-notice {
	@extend .alert-success
} 

.alert-alert {
	@extend .alert-danger
}

/* end devise alert */

/* sign up, log in, restore password forms */
.user-form {
	margin: 0 auto;
	width: 400px;

	.actions {
		display: block;
		margin: 10px auto;
	}

	label {
		margin: 15px 0px 0px 0px;
	}

	.error_explanation {

		h2 {
			font-size: 1.5em;
		}
	}

	.back-link {
		display: block;
		margin: 10px auto;
		max-width: 40px;
	}

}

/* end forms */

/* index page */

.lead > a {
	display: block;
	max-width: 150px;
	margin: 10px auto;
} 

.jumbotron {
	background-image: url("wallet.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 40%
}

.plank {
	border-top: 1px solid #aeaeae;
}

/* end index page */

/* footer */

.footer {
	border-top: 1px solid #989898;
	margin-top: 20px;
	color: #555;
	height: 50px;
}

.footer .navbar {
	margin-bottom: 0;
}

.footer-menu {
	list-style: none;
}
.footer-menu:after {
	clear: both;
	font-size: 0;
	height: 0;
	content: " ";
}

.footer .inc {
	float: left;
	margin-top: 10px;
}

.footer-menu li {
	float: right;
}

.footer-menu a {
	color: #999;
}

.footer-menu a:hover {
	color: #222;
}

/* end footer */

/* category index page */

.add-category {
	margin-bottom: 10px;
	padding-bottom: 5px;

	input {
		margin: 0;
	}

	label {
		margin: 13px 0 0 0;
	}
}

div.field_with_errors {
	display: inline;
}


/* end category page */

/* transaction page */

.add-transaction {
	margin-bottom: 10px;
	padding-bottom: 5px;

	input {
		margin: 0;
	}

	label {
		margin: 13px 0 0 0;
	}
	.btn {
		margin-top: 13px;
	}
}

/* end transaction page */