<% provide(:title, "Money Keeper") %>

	<div class="jumbotron text-center">
		<div class="col-md-offset-5 col-lg-offset-5">
			  <h1 class="display-3">Welcome</h1>
			  <p class="lead">This simple service will help you track your money.</p>
			  <hr class="plank">
			  <p>Well, when do we start?</p>
			  <p class="lead">
						 <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %> or
			    		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>
			  </p>

		</div>
	</div>
